# Tệp chứa mật khẩu và cấu hình nhạy cảm (CỰC KỲ QUAN TRỌNG)
.env

# Thư mục thư viện (Rất nặng, không cần đẩy lên GitHub vì Render sẽ tự cài lại)
node_modules/

# Các tệp nhật ký lỗi
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Thư mục build của các trình biên dịch (nếu có)
dist/
build/

# Tệp hệ thống của máy tính
.DS_Store
Thumbs.db